

p {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}

.btn {
	background-color: #60d5b9;
	color: white;
}

.btn:hover {
	background-color: #4FAF98;
}

.navbar {
	background-color: #60d5b9;
}

.nav-link {
	color: white;
}

.navbar-toggler {
	color: white;
}

@media (min-width: 992px) {
		.main-banner {
		height:100vh;
		padding-top: 150px;
	}
}

.main-banner {
	background-color: #DFFDFF;
}

.main-banner a {
	color: black;
}

.profile-img {
	border-radius: 50%;
	width: 100%;
	border: 5px solid #60d5b9;
}

.hero-text {
	margin-top: 40px;
}

.background-story {
}

.about-me-img {
	width: 100%;
	padding: 16px;
	text-align: center;
}

.my-story h1 {
	font-weight: bold;
/*	padding-top: 90px;
*/}

.marketing-skills, .web-skills {
	display: flex;
	flex-wrap: wrap;
}

.marketing-skills p, .web-skills p {
	margin-right: 16px;
	border: 2px solid #60d5b9;
	padding: 4px;
}

.projects h1 {
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

.projects {
	padding-top: 32px;
}

.projects img {
	width: 100%;
}

.projects h3 {
	text-align: center;
	font-weight: bold;
}

.projects a:hover {
	color: white;
}

.contact-me {
	text-align: center;
}

.contact-me img {
	width: 25%;
	margin: 0 auto;
	padding-top: 16px;
}

.card-columns {
	margin-right: 16px;
}

.card {
	margin: 16px;
}

.card h4, .card p{
	padding:0 24px;
}

.footer {
  width: 100% !important;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 32px;
  padding: 8px;
}

footer {
  background-color: black;
  width: 100%;
  padding: -16px;
}