

div {
/*	padding: 10px;
*/	font-size: 18px;
}

p {
	font-size: 18px;
}

@media (min-width: 992px) {
		.main-banner {
		height:100vh;
		padding-top: 150px;
	}
}

.main-banner {
	background-color: #DCDCDC;
}

.profile-img {
	border-radius: 50%;
	width: 100%;
	border: 5px solid black;
}

.hero-text {
	margin-top: 40px;
}

.background-story {
}

.about-me-img {
	width: 100%;
	padding: 16px;
	text-align: center;
}

.my-story h1 {
	font-weight: bold;
/*	padding-top: 90px;
*/}

.marketing-skills, .web-skills {
	display: flex;
	flex-wrap: wrap;
}

.marketing-skills p, .web-skills p {
	margin-right: 16px;
	border: 1px solid red;
	padding: 4px;
}

.projects h1 {
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

.projects {
	padding-top: 32px;
}

.contact-me {
	text-align: center;
}

.contact-me img {
	width: 25%;
	margin: 0 auto;
	padding-top: 16px;
}

.footer {
  width: 100% !important;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 32px;
  padding: 8px;

}